*.iml
.gradle
/local.properties
.idea/
.vscode/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
*.env
google-services.json
app/google-services.json
admin-web/data/
logs/
node_modules/
outputs/
package.json
